* {
  box-sizing: border-box;
}

body {
  background: #d0d3e6;
  /*#e6d3d0*/
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  line-height: 1;
  font-family: "Patrick Hand", sans-serif;
}

p {
  text-align: right;
  font-size: 18px;
  color: #7b7b7b;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

p strong {
  color: #777;
}